<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src=></script><!--insert js script here-->
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

<!--I'm lazy-->